<div class="shadow">
  <div class="app-title">{{ title }}</div>
   <div class="header">
    <ul>
      <li class="menu">
       <a routerLink="/dashboard"> D
        <div class="tooltiptext"> Dashboard </div></a>
      </li> 
      <li class="menu">
       <a routerLink="/customers"> C
        <div class="tooltiptext"> Customer </div></a>
      </li>
      <li class="menu">
       <a routerLink="/about-me"> A
        <div class="tooltiptext"> About Me </div> </a>
      </li>
    </ul>
  </div>
</div>
<!--<app-customers></app-customers>-->
<router-outlet></router-outlet>